<ion-header>
  <ion-toolbar>
    <ion-title>ToDo List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @for (todo of todos; track todo.id) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ todo.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ todo.description }}
      </ion-card-content>
    </ion-card>
  }

  @if (todos.length === 0) {
    <ion-label>
      Aucune tâche créée pour le moment !
    </ion-label>
  }
</ion-content>
