<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-form" [formGroup]="loginForm">
    <ion-item>
      <ion-input label="E-mail"
                 type="email"
                 labelPlacement="stacked"
                 placeholder="Entrer votre e-mail"
                 [required]="true"
                 formControlName="email">
      </ion-input>
    </ion-item>
    @if(loginForm.controls.email.errors && loginForm.controls.email.dirty) {
      <span class="error-message">Votre email est invalide. </span>
    }


    <ion-item>
      <ion-input label="Mot de passe"
                 [type]="typeOfPasswordInput"
                 labelPlacement="stacked"
                 placeholder="Entrer votre mot de passe"
                 [required]="true"
                 formControlName="password">
        <ion-icon [name]="iconOfPasswordInput"
                  slot="end"
                  (click)="onTogglePasswordVisibility()">
        </ion-icon>
      </ion-input>
    </ion-item>
    @if(loginForm.controls.password.errors && loginForm.controls.password.dirty) {
      <span class="error-message">Votre mot de passe est invalide. </span>
    }
    @if (loginErrorMessage) {
    <div class="login-error-message">
      <ion-text color="danger">
        {{ loginErrorMessage }}
      </ion-text>
    </div>
  }
    <div class="register-button">
      <ion-button mode="ios" expand="block" (click)="onLogin()" [disabled]="loginForm.invalid">
        Se connecter
      </ion-button>
    </div>
    <div class="register-link">
      <ion-text color="primary" (click)="onNavigateToRegister()">
        <small>Pas encore de compte ? <strong>S'inscrire</strong></small>
      </ion-text>
    </div>

  </div>
</ion-content>
